*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.nav{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.nav div{
    margin: .75rem;
}

#date:hover{
    color: rgb(146, 51, 51);
    font-weight: bold;
    text-decoration: underline;
    cursor:default;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}