*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: black;
}

.nav{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.nav div{
    margin: .75rem;
}

#date:hover{
    color: rgb(146, 51, 51);
    font-weight: bold;
    text-decoration: underline;
    cursor:default;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-top: 100px;
}
.headerimg{
    height: 300px;
    width: 600px;
}

#city-form{
    font-weight: bold;
    width: 600px;
    margin-top: 50px;
    border-radius: 5px;
    border:  1px solid #f3f3f3;
    background-color: #f3f3f3;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size:  1rem;
    color: #333 ;
}

button{
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    background-color: #f3f3f3;
    font-weight: bold;
    cursor: pointer;
    font-size: .75rem;
}

button:hover{
    background-color: rgb(146, 51, 51);
    color: #f3f3f3;
}
.result-box{
    max-height: 300px;
    overflow-y: scroll;
}
.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;

}
.result-box ul li{
    list-style: none;   
    height: 50px; 
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background-color: rgb(146, 51, 51);
    color: #f3f3f3;
}
p{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
}
.weather__temp span{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.weather__desc span{
    font-weight: bold;
    color: rgb(146, 51, 51);
    font-size: 1.5rem;
}


.bounce-in {
    animation: bounce-in 2s ease infinite;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }


   /* Media Query for Mobile Devices */
   @media (max-width: 480px) {
        .nav{
            background-color: #f3f3f3;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;    
            width: 100%;

        }
        
        .nav div{
            margin: .75rem;
        }
        
        .headerimg{
            height: 150px;
            width: 100%;
        }
   
        #city-form{
            font-weight: bold;
            width: 100%;
            margin-top: 50px;
            border-radius: 5px;
            border:  1px solid #f3f3f3;
            background-color: #f3f3f3;
        }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 480px){
    .nav{
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
        width: 100%;

    }
    
    .nav div{
        margin: .75rem;
    }
    
    .headerimg{
        height: 150px;
        width: 100%;
    }

    #city-form{
        font-weight: bold;
        width: 270px;
        margin-top: 50px;
        border-radius: 5px;
        border:  1px solid #f3f3f3;
        background-color: #f3f3f3;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .nav{
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
        width: 100%;

    }
    
    .nav div{
        margin: .75rem;
    }
    
    .headerimg{
        height: 200px;
        width: 400px;
    }

    #city-form{
        font-weight: bold;
        width: 350px;
        margin-top: 50px;
        border-radius: 5px;
        border:  1px solid #f3f3f3;
        background-color: #f3f3f3;
    }
}
  
