*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.nav{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.nav div{
    margin: .75rem;
}

#date:hover{
    color: rgb(146, 51, 51);
    font-weight: bold;
    text-decoration: underline;
    cursor:default;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #212225, #1b1f20, #171b1b, #141715, #11120f);
}

#city-form{
    font-weight: bold;
    width: 600px;
    margin: 100px auto 0;
    border-radius: 5px;
    border:  1px solid #f3f3f3;
    background-color: #f3f3f3;
}
.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size:  1rem;
    color: #333 ;
}

button{
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    background-color: #f3f3f3;
    font-weight: bold;
    cursor: pointer;
    font-size: .75rem;
}

button:hover{
    background-color: rgb(146, 51, 51);
    color: #f3f3f3;
}
.search-result{
    max-height: 300px;
    overflow-y: scroll;
}
.search-result ul{
    border-top: 1px solid #999;
    padding: 15px 10px;

}
.search-result ul li{
    list-style: none;    
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.search-result ul li:hover{
    background-color: rgb(146, 51, 51);
    color: #f3f3f3;
}
p{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
}
.weather__temp span{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.weather__desc span{
    font-weight: bold;
    color: rgb(146, 51, 51);
    font-size: 1.5rem;
}


.bounce-in {
    animation: bounce-in 2s ease infinite;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }